<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Industry Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h1 class="text-2xl font-semibold mb-4 text-center">Welcome!</h1>
    <p class="text-gray-700 mb-4 text-center">Please select your industry to get started:</p>

    <form id="industry-form">
        <div class="mb-4">
            <label for="industry" class="block text-gray-700 text-sm font-bold mb-2">Industry:</label>
            <select id="industry" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="" disabled selected>Select an industry</option>
                <option value="agriculture">Agriculture</option>
                <!-- <option value="mining_energy">Mining & Energy</option>
                <option value="technology">Technology</option>
                <option value="transportation">Transportation</option> -->
                <option value="healthcare">Manufacturing</option>
                <!-- <option value="finance">Finance</option> -->
                <!-- <option value="education">Education</option> -->
                <!-- <option value="manufacturing">Manufacturing</option> -->
                <!-- <option value="retail">Retail</option> -->
                <!-- <option value="dashboard">Dashboard</option> -->
                <!-- <option value="other">Other</option> -->
            </select>
        </div>

        <div class="flex items-center justify-between">
            <a href="" id="industry-button">Continue</a>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
    document.getElementById('industry-button').addEventListener('click', function(event) {
        event.preventDefault();
        const selectedIndustry = document.getElementById('industry').value;
        localStorage.setItem('industry', selectedIndustry);
        if(selectedIndustry === 'agriculture') {
            window.location.href = "{{ url_for('agriculture') }}"; 
        }else if(selectedIndustry === 'mining_energy') {
            window.location.href = "{{ url_for('mining_energy') }}"; 
        }else if(selectedIndustry === 'technology' ){
            window.location.href = "{{ url_for('technology') }}"; 
        }else if(selectedIndustry === 'transportation'){
            window.location.href = "{{ url_for('transportation') }}"; 
        }else if(selectedIndustry === 'healthcare'){
            window.location.href = "{{ url_for('healthcare') }}"; 
        }else if(selectedIndustry === 'finance'){
            window.location.href = "{{ url_for('finance') }}"; 
        }else if(selectedIndustry === 'education'){
            window.location.href = "{{ url_for('education') }}"; 
        }else if(selectedIndustry === 'manufacturing'){
            window.location.href === "{{ url_for('manufacturing') }}"; 
        }else if(selectedIndustry === 'retail'){
            window.location.href = "{{ url_for('retail') }}"; 
        }else if(selectedIndustry === 'dashboard'){
            window.location.href = "{{ url_for('dashboard') }}";
        }
    });
</script>
</body>
</html>
